@import './font.css';


body {
    padding: 0;
    margin: 0;
}

.container {

    font-family: "Poppins";
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-family: 'Clash Display';

}



.special_btn {
    color: #cdc931;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    background: rgba(255, 242, 171, 0.11);
    border-radius: 50px;
    border: 1px solid #cdc931;
    padding: 7px 20px 7px 35px;
    display: inline-flex;
}

.special_btn:before {

    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #d7d459;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 120dpi),
only screen and (min-resolution: 1.25dppx) {
    html {
        font-size: 75%;
    }
}

@media screen and (max-width: 1650px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;

    }

}